/*loading*/
.loading{ position: fixed; top: 0px;left: 0px;width: 100%;background: rgba(0,0,0,0.3);display: flex;height: 100%;align-items: center;z-index: 100;  }
.loading>div{ margin:0 auto; }
/*header*/
.navbar-toggle i{  display: block; width: 20px; height: 2px; border-radius: 4px; margin-top:2px; background: #ffffff; transform-origin: center center; }
.navbar-collapse{ height: 1px; overflow: hidden;}
.slide-enter.slide-enter-active .navbar-collapse{animation: slideInDown .3s 0s ease-in-out both;}
.slide-exit .navbar-collapse {height: 175px; }
.slide-exit.slide-exit-active .navbar-collapse{ animation: slideInUp .3s 0s ease-in-out both;}
@media (min-width: 768px){
 .navbar-collapse{ height: 50px; }
}
/*postlist*/
.post-body{ margin: 15px 0; }
.sorting-bar{ cursor: pointer; }
.sorting-bar i{ width: 30px; height: 30px; display: inline-block; vertical-align: middle; background: url(../images/sort.png) no-repeat left center; background-size: 30px; }
.sorting-bar .sorting-asc i{ background: url(../images/sort-asc.png) no-repeat left center;  background-size: 30px;}
.sorting-bar .sorting-des i{ background: url(../images/sort-des.png) no-repeat left center;  background-size: 30px;}
.post-body .col-xs-6 { padding: 0px; margin:0px; }

/*post*/
.post-view{ margin-bottom: 15px; }
.post-info{ color: #888; font-size: 1.3em;}
.post-edit-bar .btn,.list-comments .btn{ margin-right: 6px; }

.vote-bar i{ vertical-align: middle; margin:0 10px; }
.vote-icon{  height: 24px; width: 24px; display: inline-block; background-size: 100% 100%; }
.vote-icon.like{ background-image: url(../images/likebefore.png); }
.vote-icon.dislike{ background-image: url(../images/dislikebefore.png); }
.vote-icon.like.after{ background-image: url(../images/likeafter.png);}
.vote-icon.dislike.after{ background-image: url(../images/dislikeafter.png);}

/*comebackbtn*/
.category-path{ line-height: 1.5; display: inline-block; color: #fff;background: #999; padding: 0 10px; vertical-align: middle; white-space: nowrap; border-radius: 2px; text-transform: uppercase;}
/*category animation*/
@keyframes slideInDown {
  from { height: 175px; visibility: visible;}
  to {height: 1px;}
}
@keyframes slideInUp {
  from {height:  1px;visibility: visible;}
  to {height:175px; }
}
